<style>
  .posts {
    text-align: center;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>
{{ partial "head.html" . }}
<main class="posts" style="">
  <article class="post">
    <h1 style="color: white;">404 Not Found</h1>
    <p>Sorry, but we couldn't find the page you're looking for.</p>
    <p>Please head back <a href="/">home</a>.</p>
  </article>
</main>
{{ partial "foot.html" . }}
